@use './variables' as *;


.loader7{
	position: relative;
	width: 40px;
	height: 40px;

	top: 40%;
	top: -webkit-calc(50% - 20px);
	top: calc(50% - 20px);
	left: 43%;
	left: -webkit-calc(50% - 20px);
	left: calc(50% - 20px);

	background-color: rgba(255, 255, 255, .2);
}

.loader7:before{
	content: "";
	position: absolute;
	background-color: $clr-accent-light;
	height: 10px;
	width: 10px;
	border-radius: 10px;
	-webkit-animation: loader7 2s ease-in-out infinite;
  animation: loader7 2s ease-in-out infinite;
}

.loader7:after{
  content: "";
	position: absolute;
  background-color: $clr-accent-light;
	top: 0px;
	left: 0px;
	height: 40px;
	width: 0px;
	z-index: 0;
	opacity: 1;
	-webkit-animation: loader72 3s ease-in-out infinite;
			animation: loader72 3s ease-in-out infinite;
}


@-webkit-keyframes loader7{
    0%{left: -12px; top: -12px;}
    25%{left:42px; top:-12px;}
    50%{left: 42px; top: 42px;}
    75%{left: -12px; top: 42px;}
    100%{left:-12px; top:-12px;}
}

@keyframes loader7{
    0%{left: -12px; top: -12px;}
    25%{left:42px; top:-12px;}
    50%{left: 42px; top: 42px;}
    75%{left: -12px; top: 42px;}
    100%{left:-12px; top:-12px;}
}

@-webkit-keyframes loader72{
    0%{width: 0px;}
    70%{width: 40px; opacity: 1;}
    90%{opacity: 0; width: 40px;}
    100%{opacity: 0;width: 0px;}
}

@keyframes loader72{
    0%{width: 0px;}
    70%{width: 40px; opacity: 1;}
    90%{opacity: 0; width: 40px;}
    100%{opacity: 0;width: 0px;}
}

// .loader4{
// 	position: relative;
//   text-align: center;
// 	width: 150px;
// 	height: 20px;

// 	top: 45%;
// 	top: -webkit-calc(50% - 10px);
// 	top: calc(50% - 10px);
// 	left: 25%;
// 	left: -webkit-calc(50% - 75px);
// 	left: calc(50% - 75px);

// 	background-color: rgba(255,255,255,0.2);
// }

// .loader4:before{
// 	content: "";
// 	position: absolute;
// 	background-color: #fff;
// 	top: 0px;
// 	left: 0px;
// 	height: 20px;
// 	width: 0px;
// 	z-index: 0;
// 	opacity: 1;
// 	-webkit-transform-origin:  100% 0%;
// 			transform-origin:  100% 0% ;
// 	-webkit-animation: loader4 10s ease-in-out infinite;
// 			animation: loader4 3s ease-in-out infinite;
// }

// .loader4:after{
// 	content: "LOADING ...";
// 	color: #fff;
// 	font-family:  Lato,"Helvetica Neue" ;
// 	font-weight: 200;
// 	font-size: 16px;
// 	position: absolute;
// 	width: 100%;
// 	height: 20px;
// 	line-height: 20px;
// 	left: 0;
// 	top: 0;
// }

// @-webkit-keyframes loader4{
//     0%{width: 0px;}
//     70%{width: 100%; opacity: 1;}
//     90%{opacity: 0; width: 100%;}
//     100%{opacity: 0;width: 0px;}
// }

// @keyframes loader4{
//     0%{width: 0px;}
//     70%{width: 100%; opacity: 1;}
//     90%{opacity: 0; width: 100%;}
//     100%{opacity: 0;width: 0px;}
// }
