$clr-primary-dark: #550055;
$clr-primary-medium: #9a1a9a;
$clr-primary-light: #e2e6dd;

$clr-accent-dark: #3d3191;
$clr-accent-light: #FFBB33;

$clr-primary-correct: lightseagreen;
$clr-primary-incorrect: lightcoral;

// Breakpoints
// Mobile first design up to 768px
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;