@import "./index.scss";

body {
  position: relative;
	background-color: #330033;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='354' height='354' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='2.2'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='11'/%3E%3Ccircle cx='539' cy='269' r='11'/%3E%3Ccircle cx='603' cy='493' r='11'/%3E%3Ccircle cx='731' cy='737' r='11'/%3E%3Ccircle cx='520' cy='660' r='11'/%3E%3Ccircle cx='309' cy='538' r='11'/%3E%3Ccircle cx='295' cy='764' r='11'/%3E%3Ccircle cx='40' cy='599' r='11'/%3E%3Ccircle cx='102' cy='382' r='11'/%3E%3Ccircle cx='127' cy='80' r='11'/%3E%3Ccircle cx='370' cy='105' r='11'/%3E%3Ccircle cx='578' cy='42' r='11'/%3E%3Ccircle cx='237' cy='261' r='11'/%3E%3Ccircle cx='390' cy='382' r='11'/%3E%3C/g%3E%3C/svg%3E");
}

.header {
  text-align: center;
  color: rgb(213, 206, 206);
  color: lightseagreen
}

.start{
  position: absolute;
  left:50%;
  top: 50%;
  transform:translate(-50%, -50%)
}

.input {
	border: 1px solid $clr-primary-dark;
	padding: 0.5rem;
	color: $clr-primary-dark;
	min-height: 1.5rem;
	font-weight: 400;
	background-color: $clr-accent-light;
}

.btn{
  border: 1px solid $clr-primary-dark;
	padding: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
  margin: 1rem 0;
  color: $clr-primary-dark;
  font-weight: 700;
}

.select__option {
	color: $clr-primary-dark;
	font-weight: 400;
	&:hover {
		background-color: $clr-primary-dark;
	}
}

.trivia__board {
  // border: 2px solid red;
	display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
	margin: 2rem;
	gap: 4rem;
}

.trivia__card {
  @include card-style;
  min-width: 18rem;
}

.trivia__answer--selected {
}

.trivia__question{
  padding-bottom: 1rem;
}
.trivia__container {
	border: 1px solid lightgray;
}

.info__container {
	visibility: hidden;
}

.info__container--show {
	visibility: visible;
}

.stats__wrapper {
  display: flex;
  justify-content: space-between
}

.player__info{
  padding: 0.3rem;
  background-color: $clr-accent-light;
  font-weight: 400;
  margin-bottom: 1rem;
}

.card-style{
  @include card-style;
}

.start {
  @include card-style;
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
  max-width: 20rem;
	&__category {
	}
}

.info__container.card-style{
  @include card-style;
}

.start__container {
	text-align: center;
	padding-bottom: 1rem;
	color: #242424;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: flex-start;
}

.label {
padding-top: 1rem;
padding-bottom: 0.2rem;
}

.input{
  width: 100%;
}

.input__limit{
  width: 4rem;
}

.btn__primary {
	height: 2rem;
	padding: 0.4rem;
}

.player1 {
	transform: rotate(90deg);
}
.player2 {
	transform: rotate(-90deg);
}
.trivia {
	min-width: 30rem;

	&__container {
		min-width: 40rem;
		margin: 2rem;
		padding: 2rem;
		border-radius: 0.5rem;
		border: 1px solid lightcoral;
	}

	&__player {
		// display: inline-block;
		display: inline-flex;
		// padding: 0.5rem;
		color: darkslategrey;
		border: 1px solid lightslategray;
		border-radius: 5px;
	}

	&__score {
		color: dimgray;
		display: inline-flex;
		justify-self: flex-end;
		align-self: flex-end;
		border: 1px solid lightslategray;
		border-radius: 5px;
		// padding: 0.5rem;
	}

	&__answer--selected {
		background-color: lightgrey;
		font-weight: bold;
		color: darkslateblue;
	}

	&__submit {
		margin: 1rem 0;
	}
}

.info {
	display: flex;
	justify-content: center;
}
